@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
}

/* Style the header */


/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
      'header' 
      'left' 
      'right' 
      'footer1'
	  'footer2';
      
}

.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
  
 

.left,
.right,
.header,
.footer1, .footer2 {
  
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: #ccc;
}


/* Style the right column */
.right {
  grid-area: right;
  background-color: #ccc;
}

/* Style the footer */
.footer1 {
  grid-area: footer1;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.footer2 {
  grid-area: footer2;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


#question {
  font-size: 2em;
  font-weight:bold;
  font-family: 'Zilla Slab', serif;
}


.options {
   font-size:1.5em;
   padding:0.4em;
   cursor: pointer;
}

.options:hover{
	outline: solid 1px white;
	background: #888888;
	color: #fff;
}

#lightbox2{
	display:none;
}

#lightbox , #lightbox2{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);

}

#message , #message2{
    width:80%;
    min-width:400px;
    padding:20px;
    background-color:#fafafa;
    color:#404040;
    text-align:center;
    font-size:4em;
    font-weight:bold;
    /* vertically and horizontally center the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
	border-radius: 10px;
}

#countdown{
	font-weight: bold;
}

#hint , #restart{
	background-color: white;
	border-radius: 1px;
	border: 0.1px solid black;
	padding: 5px 10px 5px 10px;
	font-size: 1.1rem;
	font-variant: small-caps;
	cursor: pointer;
	transition: 0.3s ease-in;
	display:table;
margin:0 auto;
}

#hint:hover , #restart:hover{
	background-color: #f0d07a;
	color: #fff;
}

#topheader{
	text-align: center;
	font-weight: extra-bold;
	font-variant: small-caps;
}

#endscore{
	text-align: center;
	margin: 0;
	padding: 30px;
}

#endreply{
	color: #404040;
	font-size: 1.5rem;
	width: 60%;
	display: block;
	text-align: center;
	margin: auto;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
	border-radius: 3px;
}

#warp{
	background-color: #fafafa;
	height: 100vh;
}


/* Desktop Version */
@media (min-width: 768px) {
	
 .grid-container  {
  grid-template-areas: 
    'header header header header' 
    'left left right right' 
    'footer1 footer1 footer2 footer2';

  
  }
}